!!! 5
html(lang="en")
    head
        title Game of Life
        link(rel="stylesheet", type="text/css", href="/theme.css")
        
        script(type="text/javascript", src="/libraries/underscore.js")
        script(type="text/javascript", src="/libraries/jquery.js")
        script(type="text/javascript", src="/libraries/jade.js")
        script(type="text/javascript", src="/templates.js")
        script(type="text/javascript", src="/grid.js")
        script(type="text/javascript", src="/start.js")
    body
        .grid
